In [14]:
import pymysql

In [15]:
x=pymysql.connect(user='root',host='localhost',passwd='Password@123',database='project1')

In [19]:
cr=x.cursor()

In [20]:
#cr.execute('create table states(sno int(3),state varchar(15),language varchar(15),city varchar(15))')
#cr.execute('insert into states(sno,state,language,city) values(1,"Andhra","telugu","vijayawada")')
#cr.execute('insert into states(sno,state,language,city) values(2,"Tamil nadu","tamil","chennai")')
#cr.execute('insert into states(sno,state,language,city) values(3,"Kerala","malayalam","wayanad")')
#cr.execute('insert into states(sno,state,language,city) values(4,"karnataka","kannada","bengaluru")')
#cr.execute('insert into states(sno,state,language,city) values(5,"Goa","kongini","panaji")')

In [22]:
#x.commit()
#x.close()

In [8]:
l=[1,2,3,4,5]
for i in range(5):
    print(l[i])

1
2
3
4
5

In [9]:
l=[1,2,3,4,5]
for i in range(5):
    print(id(l[i]))

140673225130224
140673225130256
140673225130288
140673225130320
140673225130352

In [13]:
#for i in range(5):
    #for j in range(10):
        #print(j)

In [46]:
tballs=int(input("Total no of balls:"))
truns=int(input("Total no of runs:"))
runs=int(input("No of runs scored:"))
balls=int(input("No of balls bowled:"))
tovers=tballs//6
over_finished=str(balls//6)+"."+str(balls%6)
crr=runs/float(over_finished)
trr=truns/tovers
print(tovers)
print(over_finished)
print("%.1f"%crr)
print(trr)
if(crr>=trr):
    print("Eligible to win")
else:
    print("Not eligible to win")

Total no of balls:300
Total no of runs:375
No of runs scored:78
No of balls bowled:45
50
7.3
10.7
7.5
Eligible to win

In [26]:
a=10.684931506849315
print("%.2f"%a)
print("%3.3f"%a)
r=10.80000
print("%f"%r)

10.68
10.685
10.800000

In [4]:
for i in range(4,0,-1):
    print(i)

4
3
2
1

In [ ]:
n=input("Enter any number:")
for i in range(len(n),0,-1):
    print(n[i-1])

In [18]:
l=[1,700,124,64,99]
m=l[0]
for i in range(0,len(l)):#for i in l:
    if l[i]>m:           #    if i>m:  #if int(i)>=b:
        m=l[i]           #      m=i
print(m)

700

In [19]:
def add(a,b):
    c=a+b
    print(c)
a=input("name1:")
b=input("name1:")
add(a,b)
a=int(input("enter num1-->"))
b=int(input("enter num2-->"))
add(a,b)

name1:prabhas
name1:anushka
prabhasanushka
enter num1-->25
enter num2-->34
59