In [1]:
import pandas as pd

In [2]:
data=pd.read_csv("/home/placement/Desktop/venkatesh/fiat500int.csv")

In [3]:
cor_mat=data.corr()
cor_mat

,ID,engine_power,age_in_days,km,previous_owners,lat,lon,price
ID,1.000000,-0.034059,-0.060753,-0.006537,0.007803,-0.058207,0.058941,0.028516
engine_power,-0.034059,1.000000,0.319190,0.285495,-0.005030,0.005721,-0.005032,-0.277235
age_in_days,-0.060753,0.319190,1.000000,0.833890,0.075775,0.062982,-0.042667,-0.893328
km,-0.006537,0.285495,0.833890,1.000000,0.097539,0.035519,0.004839,-0.859373
previous_owners,0.007803,-0.005030,0.075775,0.097539,1.000000,0.001697,-0.026836,-0.076274
lat,-0.058207,0.005721,0.062982,0.035519,0.001697,1.000000,-0.766646,-0.011733
lon,0.058941,-0.005032,-0.042667,0.004839,-0.026836,-0.766646,1.000000,-0.003541
price,0.028516,-0.277235,-0.893328,-0.859373,-0.076274,-0.011733,-0.003541,1.000000