In [15]:
import pandas as pd
import matplotlib.pyplot as plt

In [16]:
import openpyxl#
data=pd.read_excel('/home/placement/Documents/latlong.xlsx',engine='openpyxl')
#or dothis==> xls=pd.ExcelFile('/home/placement/Documents/latlong.xlsx',engine='openpyxl')
            #data=pd.read_excel(xls)
    #but instead of typing above two lines we typed in single line

In [17]:
data.describe()

             Lat       Long
count   7.000000   7.000000
mean   30.970000  33.474286
std    31.809485  32.089882
min   -26.330000   5.630000
25%    14.830000  11.880000
50%    47.680000  18.300000
75%    50.890000  53.000000
max    64.000000  80.630000

In [18]:
X=data.drop(['Country','Language'],axis=1)

In [24]:
X

     Lat   Long
0  47.68  13.33
1  50.63   5.63
2  51.15  10.43
3  64.00  18.30
4  22.00  78.00
5   7.66  80.63
6 -26.33  28.00

In [25]:
#sample KMEANS
from sklearn.cluster import KMeans
kmeans=KMeans(n_clusters=3)
ypred=kmeans.fit_predict(X)
ypred=kmeans.predict(X)

/home/placement/anaconda3/lib/python3.10/site-packages/sklearn/cluster/_kmeans.py:870: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  warnings.warn(

In [26]:
ypred

array([0, 0, 0, 0, 1, 1, 2], dtype=int32)

In [27]:
data['category']=ypred

In [28]:
data

       Country    Lat   Long Language  category
0      austria  47.68  13.33  english         0
1      belgium  50.63   5.63  english         0
2      germany  51.15  10.43   german         0
3       norway  64.00  18.30  english         0
4        india  22.00  78.00    hindi         1
5     srilanka   7.66  80.63  simhala         1
6  southafrica -26.33  28.00  english         2